rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function
    function isAuthenticated() {
      return request.auth != null;
    }

    // Users Collection
    match /users/{userId} {
      allow read: if true;
      allow write: if true; // Managed via server backend & client
    }

    // Withdrawals Collection
    match /withdrawals/{withdrawalId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if true;
    }

    // App Settings Collection
    match /app_settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }

    // Ads History
    match /ads_history/{logId} {
      allow read: if true;
      allow create: if true;
    }
  }
}
